.banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 15rem;
  margin-top: 63px;

  background-image: url(../../assets/images/orange-bg.jpg);
  background-position: center;
  background-size: cover;

  &__title {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    margin: 0 30px;
    text-shadow: 0px 0px 5px #ffffff;
  }
}
